#   Copyright 2017 Code Dx, Inc
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#
#   For details on configuring an Software Risk Manager, refer to this URL:
#   https://github.com/codedx/srm-docker/blob/master/docs/DeploymentGuide.md#installation
#
version: '2'
services:
    codedx-db:
        image: codedx/codedx-mariadb:v1.38.0
        environment:
            MARIADB_ROOT_PASSWORD: "root"
            MARIADB_DATABASE: "codedx" # a password with a single quote is unsupported
            MARIADB_EXTRA_FLAGS: "--optimizer_search_depth=0 --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci --lower_case_table_names=1"
        volumes:
            - codedx-database-volume:/bitnami/mariadb
    codedx-tomcat:
        image: codedx/codedx-tomcat:v2025.3.7
        environment:
            DB_URL: "jdbc:mysql://codedx-db/codedx?sessionVariables=sql_mode='STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'"
            DB_DRIVER: "com.mysql.jdbc.Driver"
            DB_USER: "root"
            DB_PASSWORD: "root"
            SUPERUSER_NAME: "admin"
            SUPERUSER_PASSWORD: "secret"
        volumes:
            - codedx-appdata-volume:/opt/codedx
        ports:
            - 8080:8080
        depends_on:
            - codedx-db
volumes:
    codedx-database-volume:
    codedx-appdata-volume:
